/* Definindo uma paleta de cores clara e serena */
:root {
    --cor-primaria: #5bc0de; /* Azul claro */
    --cor-secundaria: #ffffff; /* Branco */
    --cor-acento: #033f63; /* Azul mais escuro para contrastes */
    --cor-texto: #333333; /* Texto em tom escuro para legibilidade */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
}

header {
    background-color: var(--cor-primaria);
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: var(--cor-acento);
}

section {
    padding: 40px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: var(--cor-acento);
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 15px;
}

img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: var(--cor-primaria);
    padding: 10px 0;
    text-align: center;
    color: var(--cor-secundaria);
}

footer p {
    font-size: 14px;
}
